<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../css/inbox.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<title>Guatzak Inbox</title>
</head>
<body style="height: 650px">
	<div class="row main" style="height: 100%; padding: 5px; background-color: grey">
		<section class="col-md-3" style="height: 100%; background-color: aqua">
			
		</section>
		<section class="col-md-9" style="height: 100%;">
			<div style="height: 85%; background-color: yellow">
				<div class="col-md-12" style="height: 5%">
					Usuario
				</div>
				<div class="container overflow-auto" style="height: 95%; background-color: white">
					<ul class="inbox">
						<li class="received">
							<div>
								<p>
								13:00 - 13/08/2020
								</p>
								<p>
								Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensajerecibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido
								</p>
								
							</div>
						</li>
						<li class="received">
							<div>
								<p>
								13:30 - 13/08/2020
								</p>
								<p>
								Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido
								</p>
								
							</div>
						</li>
						<li class="sent">
							<div>
								<p>
								13:33 - 13/08/2020
								</p>
								<p>
								Mensaje enviado
								</p>
								
							</div>
						<li class="received">
							<div>
								<p>
								13:34 - 13/08/2020
								</p>
								<p>
								Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido
								</p>
							</div>
						</li>
						<li class="sent">
							<div>
								<p>
								13:40 - 13/08/2020
								</p>
								<p>
								Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido Mensaje recibido
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div style="height: 15%; background-color: blue;">
				<form class="message-form">
					<span class="col-11">
						<textarea name="message" placeholder="Mensaje..."></textarea>
					</span>
					<span class="col-1">
						<button>Enviar</button>
					</span>
				</form>
			</div>
		</section>
	</div>
</body>
</html>